.breadcrumbContainer {
  margin: 2rem auto;
}

.breadcrumbContainer li,
.breadcrumbContainer p {
  font-size: 1.6rem;
}
.breadcrumbContainer p {
  margin: 0 10px;
}
.breadcrumbContainer a:hover {
  text-decoration: underline;
}

.breadcrumbContainer ul {
  display: flex;
  list-style: none;
}
