.oneResult {
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(221, 220, 220);
  animation: KeyColorFadeIn 0.5s;
}

.mainText {
  font-weight: 500;
  font-size: 1.8rem;
}

.list {
  list-style: inside;
}

.firstLine {
  display: flex;
}

.firstLine p {
  font-size: 1.1rem;
  color: rgb(221, 220, 220);
  margin: 0;
  line-height: 30px;
}

.iconContainer {
  margin-left: 15px;
  cursor: pointer;
}

.icons {
  font-size: 1rem !important;
}

.iconContainer svg {
  color: rgb(221, 220, 220);
}

@keyframes KeyColorFadeIn {
  0% {
    background-color: var(--primary-color);
  }

  100% {
    transform: none;
    background-color: transparent;
  }
}
