.oneResult {
  margin-bottom: 20px;
  display: flex;
}

.resulTextContainer {
  width: 90%;
}
.resulText {
  font-weight: 600;
}

.iconContainer {
  margin-left: 15px;
  margin-top: 5px;
  cursor: pointer;
}

.icons {
  font-size: 3rem !important;
}

.iconContainer:hover svg {
  color: rgb(28, 100, 242);
}
