.oneResult {
  margin-bottom: 20px;
  display: flex;
}

.resulText {
  width: 90%;
  padding: 2rem;
  border: 1px solid rgb(221, 220, 220);
  border-radius: 6px;
  font-weight: 600;
  font-size: 1.6rem;
}
.iconContainer {
  margin-left: 15px;
  margin-top: 5px;
  cursor: pointer;
}

.icons {
  font-size: 3rem !important;
}

.iconContainer:hover svg {
  color: rgb(28, 100, 242);
}
