.card {
  width: 350px;
  margin-right: 30px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  height: 150px;
}

.card:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
