.card {
  width: 22%;
  margin-top: 30px;
  margin-right: 2%;
  min-width: 350px;
  cursor: pointer;
  height: 150px;
}

p.cardTitle {
  font-size: 16px;
  font-weight: 600;
}

p.cardDescription {
  margin-top: 10px;
  font-size: 13px;
  color: rgba(93, 93, 93, 0.835);
}

.card:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
