.container {
  margin-left: 25px;
}

.categoryPropositionsContainer p {
  margin: 0;
  margin-top: 5px;
  margin-left: 8px;
}

.categoryPropositionsContainer p:hover {
  font-weight: 600;
  cursor: pointer;
}
