.coloredBackground {
  background-color: var(--primary-color);
  height: 300px;
}

.formArea {
  background-color: white;
  width: 80%;
  margin: auto;
  margin-top: -150px;
  border-radius: 6px;
  padding: 3rem;
}

.formContainer {
  width: 90%;
  margin: auto;
}

.lineFieldContainer {
  display: flex;
  justify-content: center;
}

.field {
  width: 50%;
  padding: 10px;
  margin-bottom: 1rem;
}

.messageField {
  padding: 10px;
}

.labelParagraph {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--grey-text);
}

.messageContainer {
  width: 100%;
}

.buttonContainer {
  text-align: center;
  margin-top: 20px;
}

.submitButton {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  border: 1px solid transparent;
  background-color: rgb(28, 100, 242);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.5s;
  text-decoration: none;
}
.submitButton:hover {
  background-color: rgba(63, 131, 248, 0.8);
  transition: background-color 0.5s;
}

@media only screen and (max-width: 768px) {
  .coloredBackground {
    height: 100px;
  }
}
