html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/**********************/
/*******GENERAL*******/
/**********************/
:root {
  --line-height: 2.4rem;
  --background-gradient: linear-gradient(
    149deg,
    rgb(184 224 247 / 80%) 54%,
    rgb(71 123 222 / 80%)
  );
}
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

main {
  overflow: hidden;
}

.blackDiv {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -100px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.popUpContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6rem;
  border-radius: 6px;
  background-color: rgb(244, 245, 247);
  z-index: 3;
}

.popUpContainer p:first-child {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.popUpContainer p:nth-of-type(2) {
  font-size: 1.6rem;
}

.popUpContainer .CTAButton {
  margin-top: 2rem;
}

.transparentDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 6;
}

.globalGradient {
  background: rgb(28, 100, 242);
  background: linear-gradient(
    149deg,
    rgb(184 224 247 / 80%) 54%,
    rgb(71 123 222 / 80%)
  );
}

h1 {
  font-size: 30px;
}

p {
  font-size: 16px;
  margin: 0;
}

.h1Common {
  margin: 50px;
}

.global-white-background {
  background-color: white;
  padding: 3rem;
  width: 80%;
  margin: 0 auto;
}

.marginTop20 {
  margin-top: 20px;
}

/* Material UI Inputs */
/* .MuiTextField-root input,
.MuiTextField-root textarea {
  font-size: 2rem !important;
} */

@media only screen and (max-width: 1024px) {
  .container {
    width: 80%;
  }
}
