html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.margin30 {
  margin: 0 30px;
}
.margin20 {
  margin: 0 20px;
}

/**********************/
/*******GENERAL*******/
/**********************/
:root {
  --line-height: 2.4rem;
  --primary-color: #3f51b5;
  --primary-color-hover: rgb(90, 108, 214);
  --light-grey-background: rgb(249, 250, 251);
  --darker-light-grey-background: rgb(241, 241, 241);
  --background-gradient: linear-gradient(
    149deg,
    rgb(184 224 247 / 80%) 54%,
    rgb(71 123 222 / 80%)
  );
  --blue-purple-gradient: linear-gradient(
    313deg,
    rgba(63, 81, 181, 1) 0%,
    rgba(28, 100, 242, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
  --background-gradient-purple: linear-gradient(
    149deg,
    rgb(184 224 247 / 80%) 54%,
    rgb(71 123 222 / 80%)
  );
  --grey-text: rgba(93, 93, 93, 0.835);
  /* --grey-text: rgba(75, 75, 75, 0.835); */
}
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  width: 70%;
  margin: 0 auto;
}
.container80 {
  width: 80%;
  margin: 0 auto;
}
.container90 {
  width: 90%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

main {
  overflow: hidden;
}

#__next,
.heightContainer {
  height: 100%;
}

.blackDiv {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -100px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.popUpContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6rem;
  border-radius: 6px;
  background-color: rgb(244, 245, 247);
  z-index: 3;
}

.popUpContainer p:first-child {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.popUpContainer p:nth-of-type(2) {
  font-size: 1.6rem;
}

.popUpContainer .CTAButton {
  margin-top: 2rem;
}

.transparentDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 6;
}

.globalGradient {
  background: rgb(28, 100, 242);
  background: linear-gradient(
    149deg,
    rgb(184 224 247 / 80%) 54%,
    rgb(71 123 222 / 80%)
  );
}

h1 {
  font-size: 30px;
}

p {
  font-size: 16px;
  margin: 0;
}

.h1Common {
  margin: 50px;
}

.global-white-background {
  background-color: white;
  padding: 3rem;
  width: 80%;
  margin: 0 auto;
}

.marginTop20 {
  margin-top: 20px;
}

.genericBackground {
  background-color: var(--light-grey-background);
}

.TextZone {
  height: 100%;
}

.pricing {
  padding-bottom: 10rem;
}

.templates {
  padding-bottom: 4rem;
}

.visible {
  animation: KeyFadeIn 500ms ease-in forwards !important;
}

.transitionRight {
  animation: KeyFadeInRight 500ms ease-in forwards !important;
}
.transitionLeft {
  animation: KeyFadeInLeft 500ms ease-in forwards !important;
}

.opacity0 {
  opacity: 0;
}

@keyframes KeyFadeIn {
  0% {
    transform: translate3D(0, 10px, 0);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes KeyFadeInLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes KeyFadeInRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

/* API Result */

.animationTrigger {
  animation: KeyColorFadeIn 0.5s;
}

@keyframes KeyColorFadeIn {
  0% {
    background-color: var(--primary-color);
  }

  100% {
    transform: none;
    background-color: transparent;
  }
}

/* Buttons */
.CTAButton {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  border: 1px solid transparent;
  background-color: rgb(28, 100, 242);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.5s;
  text-decoration: none;
}

.CTAButton:hover {
  background-color: rgba(63, 131, 248, 0.8);
  transition: background-color 0.5s;
}

/* Material UI Inputs */
.TextZone div.MuiInputBase-root {
  font-size: 1.6rem;
}

.TextZone .inputUserTextGeneration .MuiTextField-root {
  line-height: 24px;
}

.TextZone .outputContainer .MuiTextField-root {
  width: 130px;
}

.TextZone
  .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiInputBase-input.MuiInput-input {
  width: 110px;
}
.TextZone
  .outputLanguage
  .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiInputBase-input.MuiInput-input {
  width: 160px;
}

.outputContainer {
  margin-left: 20px;
}

.selectContainer {
  position: relative;
}

.selectContainer label {
  position: absolute;
  top: -12px;
  font-size: 1.8rem;
}

label + .MuiInput-formControl {
  margin-top: 0 !important;
}

.templates
  .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined {
  margin-top: -5px;
  font-size: 1.3rem;
}

.templates .MuiTextField-root input {
  height: 5px !important;
}

/* Contact Us Field */

input.MuiInputBase-input.MuiOutlinedInput-input {
  font-size: 20px;
}

.contactUs .MuiTextField-root label.MuiFormLabel-root.MuiInputLabel-root,
.contactUs
  .MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputMultiline.MuiOutlinedInput-inputMultiline {
  line-height: 24px;
  font-size: 16px;
}

/* Notifications Mui CSS override */

.MuiAlert-root div.MuiAlert-message {
  line-height: 1.8;
  font-size: 1.4rem;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 80%;
  }
  .container80 {
    width: 80%;
    margin: 0 auto;
  }
  .container90 {
    width: 80%;
    margin: 0 auto;
  }
}
