.noCategoryDiv {
}

.rightDivContainer {
  margin-left: 25px;
}

.categoryTitle {
  background-color: white;
  padding: 3rem;
  width: 80%;
  margin: auto;
}

.categoryTitle h2 {
  padding-left: 2rem;
  font-size: 2.5rem;
  margin: 0;
}

.formContainer {
  background-color: white;
  padding: 4rem;
  width: 80%;
  margin: 5rem auto;
}

.oneInput p {
  margin: 0;
}

@media only screen and (max-width: 1400px) {
}
