.noCategoryDiv {
  text-align: center;
}

.rightDivContainer {
  margin-left: 25px;
}

.categoryTitle {
  background-color: white;
  padding: 3rem;
  width: 80%;
  margin: auto;
}

.categoryTitle h2 {
  padding-left: 2rem;
  font-size: 2.5rem;
  margin: 0;
}

.formContainer {
  background-color: white;
  padding: 4rem;
  width: 80%;
  margin: 5rem auto;
}

.oneInput {
  margin-bottom: 25px;
}

.oneInput p {
  margin: 0;
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(126, 124, 124);
  text-transform: uppercase;
}

@media only screen and (max-width: 1400px) {
}
