/**********************/
/*******HOMEPAGE*******/
/**********************/

/***FIRST LINER ***/
.mainTitle {
  display: flex;
  justify-content: center;
}

.leftContent {
  width: 50%;
}

.rightContent {
  width: 50%;
}

.leftContent p {
  font-size: 2rem;
  margin-top: 20px;
}

.ctaMain {
  margin-top: 32px;
}

.leftContent a {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  border: 1px solid transparent;
  background-color: rgb(28, 100, 242);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.5s;
  text-decoration: none;
}

.CTAButton {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  border: 1px solid transparent;
  background-color: rgb(28, 100, 242);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.5s;
  text-decoration: none;
}

.leftContent a:hover {
  background-color: rgba(63, 131, 248, 0.8);
  transition: background-color 0.5s;
}
.CTAButton:hover {
  background-color: rgba(63, 131, 248, 0.8);
  transition: background-color 0.5s;
}

.mainPunchline {
  font-size: 6.4rem;
  margin-bottom: 0;
  opacity: 0;
}
.firstLiner {
  padding: 3rem 0;
  position: relative;
}

.firstLiner .softwareImage img {
  position: absolute;
  width: 1200px;
  transform: rotate(-5deg);
  right: -500px;
  top: -50px;
  z-index: -1;
}

@media only screen and (max-width: 1400px) {
  .firstLiner .softwareImage img {
    position: absolute;
    width: 1200px;
    right: -650px;
    top: -25px;
    z-index: -1;
  }
}
@media only screen and (max-width: 1024px) {
  .firstLiner .softwareImage img {
    display: none;
  }

  .mainPunchline {
    text-align: center;
  }
  .rightContent {
    display: none;
  }
  .leftContent {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .firstLiner .softwareImage img {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .firstLiner .softwareImage img {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  .mainPunchline {
    font-size: 3rem;
  }
}
/***SECOND LINER ***/

.secondLiner {
  background-color: #f9fafb;
  border-top: 1px solid rgba(210, 214, 220, 0.5);
  border-bottom: 1px solid rgba(210, 214, 220, 0.5);
}

.cardsContainer {
  display: flex;
  justify-content: center;
  padding: 8rem 0;
}

.card {
  font-size: 1.4rem;
  width: 30%;
  margin: 0 1%;
  line-height: var(--line-height);
}

.card .cardTitle {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 2.4rem;
  opacity: 0;
}

.card .cardTitle.visible {
  animation: KeyFadeIn 600ms ease-in forwards !important;
}

.card span:last-child {
  font-size: 1.8rem;
  color: rgb(75, 85, 99);
}

@media only screen and (max-width: 1024px) {
  .cardsContainer {
    flex-direction: column;
  }
  .card {
    width: 100%;
    padding-bottom: 5rem;
  }

  .cardTitle {
    font-size: 1.8rem;
  }
}

/***THIRD LINER ***/

.thirdLiner {
  position: relative;
  height: 400px;
  background-color: rgb(244, 245, 247);
  padding: 3rem 0;
  text-align: center;
}

.thirdLiner h2.punchline {
  max-width: 768px;
  padding-top: 5rem;
  padding-bottom: 3rem;
  margin: auto;
}
.thirdLiner p {
  color: rgb(75, 85, 99);
  font-size: 2rem;
  max-width: 768px;
  margin: auto;
  line-height: 2.6rem;
}

.thirdLiner img {
  position: absolute;
  width: 1000px;
  left: 50%;
  top: 120%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(210, 214, 220, 0.5);
}

h2.punchline {
  margin: 0;
  font-size: 3rem;
  text-align: center;
}

@media only screen and (max-width: 1400px) {
  .thirdLiner img {
    width: 800px;
  }
}
@media only screen and (max-width: 1024px) {
  .thirdLiner img {
    width: 600px;
  }
}
@media only screen and (max-width: 768px) {
  .thirdLiner {
    height: 450px;
  }
  .thirdLiner p {
    text-align: left;
  }
  .thirdLiner img {
    display: none;
  }
}
@media only screen and (max-width: 300px) {
  .thirdLiner {
    height: 500px;
  }
  .thirdLiner img {
    display: none;
  }
}

/***FOURTH LINER ***/

.fourthLiner {
  background-color: #161e2e;
  color: white;
  height: 600px;
  padding-top: 35rem;
  padding-bottom: 30rem;
}

.fourthLiner p {
  font-size: 2rem;
  text-align: center;
}

.fourthLiner .explaination {
  margin: 2rem auto;
}

.fourthLiner .tickBox {
  margin-left: 156px;
  margin-right: 156px;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
}

.tickBox > div {
  width: 30%;
}

.tickBox > div > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.tickBox > div > div svg {
  margin-right: 10px;
}

h3.punchline {
  margin: 0;
  font-size: 3rem;
  text-align: center;
}

@media only screen and (max-width: 1400px) {
  .fourthLiner .tickBox {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .fourthLiner {
    padding-top: 25rem;
  }
  .fourthLiner .tickBox {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 768px) {
  .fourthLiner {
    padding-top: 10rem;
    height: auto;
    padding-bottom: 5rem;
  }
  .fourthLiner .tickBox {
    flex-direction: column;
    align-items: center;
  }
  .tickBox > div {
    width: 50%;
  }
}

/***FIFTH LINER ***/

.fifthLiner {
  padding: 5rem 0;
  background-color: rgb(249, 250, 251);
}

.fifthLiner > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
}

.fifthLiner a.CTAButton {
  margin-top: 0;
}

.fifthLiner p {
  font-size: 2.8rem;
  font-weight: 700;
}

@media only screen and (max-width: 1400px) {
  .fifthLiner > div {
    flex-direction: column;
    text-align: left;
  }
}
@media only screen and (max-width: 1024px) {
  .fifthLiner a.CTAButton {
    margin-top: 20px;
  }
  .fifthLiner p {
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .fifthLiner p {
    text-align: center;
  }
  .fifthLiner a.CTAButton {
    margin-top: 30px;
  }
}
