.main {
  text-align: center;
  height: calc(100vh - 166px);
  display: flex;
  justify-content: center;
}

.main > div:first-child {
  width: 40%;
}
.main > div:last-child {
  width: 60%;
  background: var(--blue-purple-gradient);
}

.main > div:last-child {
  background-color: white;
}
.main > div:last-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main > div:last-child > div img {
  max-width: 60%;
}

.leftPartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-align: left; */
}

.leftPartContainer h1 {
  font-size: 18px;
  font-weight: 500;
  margin: 40px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonContainer button {
  display: flex;
  justify-content: center;
}
.buttonContainer button p {
  font-size: 18px;
  margin-top: 5px;
}

.googleSvg {
  width: 30px;
  margin-right: 20px;
}

.whiteParagraph {
  margin: auto;
  width: 400px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 40px;
  color: white;
}

.images:hover {
  cursor: pointer;
}

.agreeingTermsAndServices {
  margin: 50px;
}
.agreeingTermsAndServices p {
  line-height: 25px;
}

.link {
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 968px) {
  .main {
    flex-direction: column;
    height: 100%;
  }
  .main > div:first-child {
    width: 100%;
    order: 2;
  }
  .main > div:last-child {
    order: 1;
    width: 100%;
    padding: 5rem;
  }
  .main > div:last-child > div img {
    max-width: 40%;
  }
  .whiteParagraph {
    margin: auto;
    width: 70%;
    margin-top: 50px;
    font-weight: 700;
    font-size: 40px;
    color: white;
  }
}
