.main {
  text-align: center;
  height: calc(100vh - 166px);
  display: flex;
  justify-content: center;
}

.main > div:first-child,
.main > div:last-child {
  width: 50%;
}

.main > div:last-child {
  background-color: white;
}

.images:hover {
  cursor: pointer;
}

.agreeingTermsAndServices {
  margin: 50px;
}

.link {
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}
