.main {
  text-align: center;
  height: calc(100vh - 166px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.images:hover {
  cursor: pointer;
}

.agreeingTermsAndServices {
  margin: 50px;
}

.link {
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}
