.myAccountContainer h1 {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: left;
}

.main {
  min-height: calc(100vh - 155px);
}

.signOutContainer {
  display: flex;
  place-items: baseline;
}

.signOutContainer p {
  margin-top: 30px;
  width: 20%;
}

.chartContainer {
  height: 550px;
  display: flex;
  justify-content: center;
}

.chartContainer > div > div {
  display: flex;
  justify-content: center;
}

.userTotalConsumption {
  margin: auto;
  margin-top: -20px;
  max-width: 800px;
}

.userTotalConsumption p:first-child {
  text-align: center;
}

.progressContainer {
  margin: 1rem auto;
}
.progressBarTitle {
  display: flex;
  justify-content: space-between;
}

.wordsCounter {
  font-size: 1.4rem;
  color: rgb(93, 96, 100);
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .signOutContainer {
    flex-direction: column;
  }
  .signOutContainer button {
    margin-top: 30px;
  }
  .signOutContainer p {
    width: 100%;
  }
}
