/**********************/
/********NAVBAR*******/
/**********************/

.navbar {
  padding: 0.5rem 0;
  font-size: 1.6rem;
  background-color: white;
  border-bottom: 1px solid rgb(210, 214, 220);
}

.leftNavbar {
  display: flex;
}

.rightNavBar {
  display: flex;
}

.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li {
  margin-top: 5px;
  width: 125px;
  font-weight: 500;
}

.menuElements {
  display: flex;
  justify-content: space-between;
}

.menuElements a > span {
  font-size: 2rem;
  font-weight: 300;
}
.menuElements a > span:hover {
  font-size: 2rem;
}

.navbar a {
  text-decoration: none;
  color: black;
}
.navbar ul a:hover {
  /* text-decoration: underline; */
}

.navLink {
  margin-left: 10px;
  padding: 1rem;
  border-radius: 3px;
}

div.navLink p {
  padding: 2px 0;
  font-size: 16px;
}
div.navLink p:hover {
  padding: 2px 0;
  font-size: 16px;
}

div.navLink:hover {
  background-color: var(--darker-light-grey-background);
}

.navbarFlags {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .menuElements {
    display: flex;
    flex-direction: column;
  }

  .navbar ul {
    display: flex;
  }

  .navbar ul li {
    margin-top: 2rem;
    width: 50%;
  }

  .navbar ul li:last-child {
    position: relative;
  }
}
