.optionContainer {
  display: flex;
  align-items: center;
}

.optionContainer p {
  margin-top: 5px;
  font-weight: 600;
}

.checkIcon {
  color: var(--primary-color);
  margin-top: 5px;
  margin-right: 10px;
}
