.optionContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.optionContainer p {
  margin-top: 5px;
  font-weight: 600;
}

.checkIcon {
  color: var(--primary-color);
  margin-top: 5px;
  margin-right: 5px;
  min-width: 50px;
}
