.main {
  text-align: center;
  min-height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textContainer p {
  margin-top: 1rem;
  font-size: 1.7rem;
}
