.titleContainer {
  padding: 3rem 0;
}
.titleContainer h1 {
  text-align: center;
  margin: 0;
}

.switchContainer {
  display: flex;
  width: 100px;
  margin: auto;
  margin-top: 50px;
}

.catchphrase {
}

.pricesContainer {
  display: flex;
  justify-content: center;
}

.pricesContainer > div {
  margin: 1rem 3rem;
}

.firstDivContainer {
}

.spaceContainer {
  height: 320px;
}

/* One Price */
.pricesContainer > div {
  min-height: 400px;
  width: 300px;
  background-color: rgb(242, 242, 242);
  border-radius: 6px;
  padding: 2rem;
}

div.onePriceDiv1 {
  height: 400px;
}

div.onePriceDiv2 {
  height: 450px;
}
div.onePriceDiv3 {
  height: 500px;
}

.pricesContainer h2 {
  margin: 0;
  font-size: 3rem;
}

.pricesContainer .subTitle {
  margin: 0;
  font-weight: 600;
  color: var(--grey-text);
}

.priceInfo {
  margin-top: 3rem;
}

.price .priceNumber {
  font-size: 5rem;
}

.price span {
  font-size: 2rem;
}

.subprice {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--grey-text);
}

@media only screen and (max-width: 768px) {
  .pricesContainer {
    flex-direction: column;
    align-items: center;
  }
  .pricesContainer > div {
    margin: auto;
    margin-top: 50px;
  }
  .spaceContainer {
    height: 50px;
  }
}
