.titleContainer {
  padding: 3rem 0;
  text-align: center;
}
.titleContainer h1 {
  text-align: center;
  margin: 0;
  font-size: 5rem;
}

.catchPhraseContainer {
  margin-top: 3rem;
}

.catchPhraseContainer p {
  margin-top: 10px;
  font-weight: 600;
}

.catchPhraseContainer p:first-child {
  font-size: 3rem;
}
/* .catchPhraseContainer p:last-child {
  color: var(--grey-text);
} */

.switchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.switchContainer p {
  min-width: 140px;
  font-size: 2rem;
  margin-right: 10px;
  font-weight: 600;
}

.selected {
}
.nonSelected {
  font-weight: 300;
  color: grey;
}

.catchphrase {
}

.pricesContainer {
  display: flex;
  justify-content: center;
}

.pricesContainer > div {
  margin: 1rem 3rem;
}

.firstDivContainer {
}

.spaceContainer {
  height: 320px;
}

/* One Price */
.pricesContainer > div {
  min-height: 400px;
  width: 300px;
  border-radius: 6px;
  padding: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%),
    0 10px 10px -5px rgb(0 0 0 / 4%);
}

.onePriceDiv1 .topDivWithoutCTA {
  height: 290px;
}
.onePriceDiv2 .topDivWithoutCTA {
  height: 340px;
}
.onePriceDiv3 .topDivWithoutCTA {
  height: 395px;
}

div.onePriceDiv1 {
  height: 420px;
}

div.onePriceDiv2 {
  position: relative;
  height: 470px;
  border: 2px solid;
  border-color: rgba(28, 100, 242, 1);
}

.mostPopularFR {
  position: absolute;
  z-index: 5;
  top: -15px;
  left: 90px;
  background-color: rgba(28, 100, 242, 1);
  color: white;
  font-size: 1.275rem;
  border-radius: 9999px;
  line-height: 1.5rem;
  font-weight: 550;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: "Inter", sans-serif;
}
.mostPopularEN {
  position: absolute;
  z-index: 5;
  top: -15px;
  left: 75px;
  background-color: rgba(28, 100, 242, 1);
  color: white;
  font-size: 1.275rem;
  border-radius: 9999px;
  line-height: 1.5rem;
  font-weight: 550;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: "Inter", sans-serif;
}
div.onePriceDiv3 {
  height: 520px;
}

.pricesContainer h2 {
  margin: 0;
  font-size: 3rem;
}

.pricesContainer .subTitle {
  margin: 0;
  font-weight: 500;
  color: var(--grey-text);
}

.priceInfo {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.price .priceNumber {
  font-size: 4.5rem;
}

.price span {
  font-size: 2rem;
}

.subprice {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--grey-text);
}

@media only screen and (max-width: 768px) {
  .pricesContainer {
    flex-direction: column;
    align-items: center;
  }
  .pricesContainer > div {
    margin: auto;
    margin-top: 50px;
  }
  .spaceContainer {
    height: 50px;
  }
}
