.titleContainer {
  padding: 3rem 0;
}
.titleContainer h1 {
  text-align: center;
  margin: 0;
}

.switchContainer {
  display: flex;
  width: 100px;
  margin: auto;
  margin-top: 50px;
}

.catchphrase {
}

.pricesContainer {
  display: flex;
  justify-content: center;
}

.pricesContainer > div {
  margin: 1rem 3rem;
}

.firstDivContainer {
}

.spaceContainer {
  height: 320px;
}

/* One Price */
.pricesContainer > div {
  min-height: 400px;
  width: 300px;
  background-color: green;
  border-radius: 6px;
  padding: 2rem;
}

.pricesContainer h2 {
  margin: 0;
  font-size: 3rem;
}

.pricesContainer .subTitle {
  margin: 0;
  margin-top: 5px;
  font-weight: 600;
  color: var(--grey-text);
}

@media only screen and (max-width: 768px) {
  .pricesContainer {
    flex-direction: column;
    align-items: center;
  }
  .pricesContainer > div {
    margin: auto;
    margin-top: 50px;
  }
  .spaceContainer {
    height: 50px;
  }
}
