.titleContainer {
  padding: 3rem 0;
}
.titleContainer h1 {
  text-align: center;
  margin: 0;
}

.switchContainer {
  display: flex;
  width: 100px;
  margin: auto;
  margin-top: 50px;
}

.catchphrase {
}

.pricesContainer {
  display: flex;
  justify-content: center;
}

.pricesContainer > div {
  margin: 1rem 3rem;
}

.firstDivContainer {
}

.spaceContainer {
  height: 320px;
}

/* One Price */
.onePriceDiv {
  min-height: 400px;
  width: 300px;
  background-color: green;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .pricesContainer {
    flex-direction: column;
    align-items: center;
  }
  .spaceContainer {
    height: 50px;
  }
}
