.titleContainer {
  position: relative;
  padding: 3rem 0;
  text-align: center;
  background: var(--blue-purple-gradient);
  color: white;
  min-height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dotsContainer {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 350px;
  background-color: transparent;
  opacity: 0.4;
  background-image: radial-gradient(#000000 0.9px, transparent 0.9px);
  background-size: 18px 18px;
}

.trianglesPatternContainer {
  position: absolute;
  width: 108px;
  height: 55px;
  left: 50px;
  top: 250px;
  background-color: transparent;
  opacity: 0.4;
  background-image: linear-gradient(45deg, #000000 50%, transparent 50%);
  background-size: 18px 18px;
}
.blob1Container {
  position: absolute;
  width: 450px;
  height: 450px;
  right: -130px;
  bottom: -200px;
  opacity: 0.4;
  font-size: 10rem;
}

.titleContainer h1 {
  text-align: center;
  margin: 0;
  font-size: 5rem;
  color: white;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
}

.catchPhraseContainer {
  margin-top: 3rem;
}

.catchPhraseContainer p {
  margin: auto;
  font-weight: 600;
  max-width: 80%;
  margin-top: 10px;
}

.catchPhraseContainer p:first-child {
  font-size: 6rem;
}
/* .catchPhraseContainer p:last-child {
  color: var(--grey-text);
} */

.switchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.switchContainer p {
  min-width: 140px;
  font-size: 2rem;
  margin-right: 10px;
  font-weight: 600;
}

.selected {
}
.nonSelected {
  font-weight: 300;
  opacity: 0.4;
}

.catchphrase {
}

.pricesContainer {
  display: flex;
  justify-content: center;
}

.pricesContainer > div {
  margin: 1rem 3rem;
}

.firstDivContainer {
  position: relative;
}

.svgContainer {
  position: absolute;
  width: 30px;
  height: 30px;
}

.spaceContainer {
  height: 320px;
}

/* One Price */
.pricesContainer > div {
  min-height: 400px;
  width: 300px;
  border-radius: 6px;
  padding: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%),
    0 10px 10px -5px rgb(0 0 0 / 4%);
}

.onePriceDiv1 .topDivWithoutCTA {
  height: 290px;
}
.onePriceDiv2 .topDivWithoutCTA {
  height: 340px;
}
.onePriceDiv3 .topDivWithoutCTA {
  height: 340px;
}

div.onePriceDiv1 {
  height: 420px;
}

div.onePriceDiv2 {
  height: 470px;
  margin-top: -70px;
}

div.onePriceDiv3 {
  height: 470px;
}

/* div.onePriceDiv2 {
  position: relative;
  height: 470px;
  border: 2px solid;
  border-color: rgba(28, 100, 242, 1);
} */

.mostPopularFR {
  position: absolute;
  z-index: 5;
  top: -15px;
  left: 90px;
  background-color: rgba(28, 100, 242, 1);
  color: white;
  font-size: 1.275rem;
  border-radius: 9999px;
  line-height: 1.5rem;
  font-weight: 550;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: "Inter", sans-serif;
  display: none;
}
.mostPopularEN {
  position: absolute;
  z-index: 5;
  top: -15px;
  left: 75px;
  background-color: rgba(28, 100, 242, 1);
  color: white;
  font-size: 1.275rem;
  border-radius: 9999px;
  line-height: 1.5rem;
  font-weight: 550;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: "Inter", sans-serif;
}

.pricesContainer h2 {
  margin: 0;
  font-size: 3rem;
}

.pricesContainer .subTitle {
  margin: 0;
  font-weight: 500;
  color: var(--grey-text);
}

.priceInfo {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.price .priceNumber {
  font-weight: 700;
  font-size: 4.5rem;
}

.onePriceDiv3 .price .priceNumber {
  font-weight: 700;
  font-size: 4rem;
}

.price span {
  font-size: 2rem;
}

.subprice {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--grey-text);
}

@media only screen and (max-width: 1450px) {
  .pricesContainer > div {
  }
  .spaceContainer {
    height: 50px;
  }
  .dotsContainer,
  .trianglesPatternContainer,
  .blob1Container {
    display: none;
  }
  div.onePriceDiv2 {
    margin-top: -60px;
  }
}

@media only screen and (max-width: 1068px) {
  .pricesContainer {
    flex-direction: column;
    align-items: center;
  }

  div.onePriceDiv1 {
    margin-bottom: 12rem;
  }

  .catchPhraseContainer p:first-child {
    font-size: 4rem;
  }
}
