.privacyPolicyPage {
  max-width: 50%;
  text-align: left;
  margin: auto;
}

@media only screen and (max-width: 968px) {
  .privacyPolicyPage {
    max-width: 80%;
    text-align: left;
    margin: auto;
  }
}
