button.roundedButton {
  border-radius: 20px;
  background-color: white;
  padding: 0.2rem 1.2rem;
  text-transform: none;
  min-width: 0;
  font-size: 16px;
  transition: background-color 0.25s;
  margin-right: 10px;
}

button.roundedButton:hover {
  background-color: white;
  transition: background-color 0.25s;
}

button.selectedRoundedButton {
  margin-right: 10px;
  border-radius: 20px;
  padding: 0.2rem 1.2rem;
  text-transform: none;
  min-width: 0;
  font-size: 16px;
  background-color: var(--primary-color);
  transition: background-color 0.25s;
}

button.selectedRoundedButton:hover {
  background-color: var(--primary-color-hover);
  transition: background-color 0.5s;
}

@media only screen and (max-width: 768px) {
  button.selectedRoundedButton {
    width: 70%;
    margin: auto;
    margin-top: 10px;
  }
  button.roundedButton {
    width: 70%;
    margin: auto;
    margin-top: 10px;
  }
}
