.selectTemplate {
  display: flex;
  justify-content: space-between;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
}

.globalCardsContainer {
  display: flex;
  flex-direction: column;
  min-height: 800px;
}

.greyCompletingDiv {
  flex-grow: 1;
}
