.title {
  font-size: 18px;
}

.selectTemplate {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.globalCardsContainer {
  display: flex;

  flex-direction: column;
  min-height: 800px;
}

.greyCompletingDiv {
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  .cardsContainer {
    display: static;
  }

  .roundedButtonsContainer {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
  }
}
