.termsAndConditionsPage {
  max-width: 50%;
  text-align: left;
  margin: auto;
  margin-bottom: 5rem;
}

.termsAndConditionsPage h2 {
  font-size: 2rem;
}

.termsAndConditionsPage h3 {
  font-size: 1.6rem;
}

.termsAndConditionsPage p {
  line-height: 22px;
}

.termsAndConditionsPage ul {
  padding: auto;
}

.termsAndConditionsPage ul li {
  margin-top: 8px;
  font-size: 16px;
}

@media only screen and (max-width: 968px) {
  .termsAndConditionsPage {
    max-width: 80%;
    text-align: left;
    margin: auto;
    margin-bottom: 2rem;
  }
}
