.textGeneratorContainer {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 82%;
}

.leftDiv {
  width: 48%;
  margin-right: 1%;
}
/* https://stackoverflow.com/questions/23090136/how-can-i-make-my-flexbox-layout-take-100-vertical-space */
.leftDiv > div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}

.rightDiv {
  width: 48%;
  margin-left: 1%;
}

.spaceContainer {
  height: 100%;
  flex: 1 1 auto;
}

.headlineContainer {
  padding-top: 3rem;
  display: flex;
  width: 98%;
  margin: auto;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgb(221, 220, 220);
}

.headlinePicture {
  margin-right: 2rem;
  width: 75px;
  background-color: red;
}

.headlineTitle {
  font-weight: 600;
  font-size: 3rem;
}

.logoBackground {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: var(--darker-light-grey-background);
  position: relative;
}

.pictureContainer {
  margin-right: 20px;
}

.pictures {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 30px;
  width: 30px;
  margin-bottom: 1rem;
}

.headlineDescription {
  padding-top: 1rem;
  font-size: 1.2rem;
  color: rgb(124, 124, 124);
}

.lineAboveText {
  display: flex;
  justify-content: space-between;
}

.lineAboveText .counter {
  font-size: 1.2rem;
  color: rgb(124, 124, 124);
}

.oneInput {
  padding-bottom: 2rem;
}

.oneInput p {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

.noResults {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}

.loaderContainer {
  display: flex;
  justify-content: center;
}

.loaderElements {
  width: 700px;
  text-align: center;
}

.loaderElements p {
  margin-top: 1rem;
  font-size: 3rem;
}

.loaderParagraphs {
  margin-top: 2rem;
}
