.textGeneratorContainer {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.leftDiv {
  width: 48%;
  margin-right: 1%;
}

.rightDiv {
  width: 48%;
  margin-left: 1%;
}

.spaceContainer {
  min-height: 600px;
}

.headlineContainer {
  padding-top: 3rem;
  display: flex;
}

.headlinePicture {
  margin-right: 2rem;
}

.headlineTitle {
  font-weight: 600;
  font-size: 3rem;
}

.headlineDescription {
  padding-top: 1rem;
  font-size: 1.2rem;
  color: rgb(124, 124, 124);
}

.buttonContainer {
  text-align: right;
}

.noResults {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}
