.textGeneratorContainer {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 82%;
}

.leftDiv {
  width: 48%;
  margin-right: 1%;
}
/* https://stackoverflow.com/questions/23090136/how-can-i-make-my-flexbox-layout-take-100-vertical-space */
.leftDiv > div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}

.rightDiv {
  width: 48%;
  margin-left: 1%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.rightDiv::-webkit-scrollbar {
  display: none;
}
.rightDiv {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.spaceContainer {
  height: 100%;
  flex: 1 1 auto;
}

.headlineContainer {
  padding-top: 3rem;
  display: flex;
  width: 98%;
  margin: auto;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgb(221, 220, 220);
}

.headlinePicture {
  margin-right: 2rem;
  width: 75px;
}

.headlineTitle {
  font-weight: 600;
  font-size: 3rem;
}

.logoBackground {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: var(--darker-light-grey-background);
  position: relative;
}

.pictureContainer {
  margin-right: 20px;
}

.pictures {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 50px;
  width: 50px;
  margin-bottom: 1rem;
}

.headlineDescription {
  padding-top: 1rem;
  font-size: 1.6rem;
  color: rgb(124, 124, 124);
}

.lineAboveText {
  display: flex;
  justify-content: space-between;
}

.lineAboveText .counter {
  font-size: 1.2rem;
  color: rgb(124, 124, 124);
}

.oneInput {
  padding-bottom: 2rem;
}

.oneInput p {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

.noResults {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}

.loaderContainer {
  display: flex;
  justify-content: center;
}

.loaderElements {
  width: 700px;
  text-align: center;
}

.loaderElements p {
  margin-top: 1rem;
  font-size: 3rem;
}

.loaderParagraphs {
  margin-top: 2rem;
}

.tipContainer {
  margin-bottom: 3rem;
}

.tipContainer p {
  display: inline;
  color: var(--grey-text);
}

.tipContainer p:first-child {
  font-weight: 600;
}

@media only screen and (max-width: 1068px) {
  .buttonContainer {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .textGeneratorContainer {
    flex-direction: column;
    justify-content: normal;
  }
  .leftDiv {
    width: 100%;
    margin-bottom: 100px;
  }
  .rightDiv {
    width: 100%;
    margin-bottom: 20px;
  }

  .buttonContainer > div {
    margin-top: 20px;
  }
}
