.textGeneratorContainer {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.leftDiv {
  width: 48%;
  margin-right: 1%;
}

.rightDiv {
  width: 48%;
  margin-left: 1%;
}

.spaceContainer {
  min-height: 500px;
}

.headlineContainer {
  padding-top: 3rem;
  display: flex;
  width: 98%;
  margin: auto;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgb(221, 220, 220);
}

.headlinePicture {
  margin-right: 2rem;
  width: 75px;
  background-color: red;
}

.headlineTitle {
  font-weight: 600;
  font-size: 3rem;
}

.headlineDescription {
  padding-top: 1rem;
  font-size: 1.2rem;
  color: rgb(124, 124, 124);
}

.lineAboveText {
  display: flex;
  justify-content: space-between;
}

.lineAboveText .counter {
  font-size: 1.2rem;
  color: rgb(124, 124, 124);
}

.oneInput p {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

.noResults {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}

.loaderContainer {
  display: flex;
  justify-content: center;
}

.loaderElements {
  width: 700px;
  text-align: center;
}

.loaderElements p {
  margin-top: 1rem;
  font-size: 3rem;
}

.loaderParagraphs {
  margin-top: 2rem;
}
