.workplaceMenu {
  border-right: 1px solid rgb(221, 220, 220);
  border-left: 1px solid rgb(221, 220, 220);
  border-bottom: 1px solid rgb(221, 220, 220);
}

.workToolsglobalContainer {
  display: flex;
  min-height: calc(100vh - 200px);
}

.leftDiv {
  width: 300px;
  border-right: 1px solid rgb(221, 220, 220);
  border-left: 1px solid rgb(221, 220, 220);
  border-bottom: 1px solid rgb(221, 220, 220);
}

.rightDiv {
  flex-grow: 1;
  background: rgb(28, 100, 242);
  background: linear-gradient(
    149deg,
    rgb(184 224 247 / 80%) 54%,
    rgb(71 123 222 / 80%)
  );
}

@media only screen and (max-width: 768px) {
  .workToolsglobalContainer {
    flex-direction: column;
  }
  .leftDiv {
    width: 100%;
  }
}
