.workplaceContainer {
}

.workplaceMenu {
  border-left: 1px solid rgb(221, 220, 220);
  border-bottom: 1px solid rgb(221, 220, 220);
  min-height: 40px;
  display: flex;
  justify-content: space-between;
}

.workplaceMenu > div {
  display: flex;
  padding-top: 10px;
  margin-left: 25px;
}
.workplaceMenu > div > p {
  margin: 0;
}
.workplaceMenu > div > .categorySelector:hover {
  font-weight: 600;
  cursor: pointer;
}
.workplaceMenuLangPicker {
  position: relative;
  margin-right: 100px;
  padding-right: 15px;
  padding-left: 20px;
}
.workplaceMenuLangPicker:hover {
  cursor: pointer;
  background-color: rgb(233, 233, 235);
}

.workplaceMenuLangPicker p {
}

.workToolsglobalContainer {
  display: flex;
  min-height: calc(100vh - 200px);
}

.leftDiv {
  width: 300px;
  border-right: 1px solid rgb(221, 220, 220);
  border-left: 1px solid rgb(221, 220, 220);
  border-bottom: 1px solid rgb(221, 220, 220);
}

.rightDiv {
  flex-grow: 1;
  background: rgb(28, 100, 242);
  background: var(--background-gradient);
  padding-bottom: 5rem;
}

.resultsDivContainer {
  margin-left: 25px;
}

.resultsDivContainer .resultTitle {
  background-color: white;
  padding: 3rem;
  width: 80%;
  margin: auto;
}

.resultsDivContainer .resultTitle h1 {
  margin: 0;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .workToolsglobalContainer {
    flex-direction: column;
  }
  .leftDiv {
    width: 100%;
  }
}
